* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
}

.container {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 75em) {
  .container {
    width: 80%;
    max-width: 1400px;
  }
}

.btn-primary {
  padding: 1rem 0;
  width: 13rem;
  background: none;
  border-radius: 12px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff6200;
  border: none;
  color: white;
}

.btn-alt {
  padding: 1rem 0;
  width: 13rem;
  background: none;
  border-radius: 12px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: solid 3px #ff6200;
  color: #ff6200;
}

.section-title {
  font-size: clamp(2em, calc(5vw + 1rem), 5em);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #07223f;
}
.section-title span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2em, calc(12vw + 1rem), 3em);
  color: #f1f2f2;
  z-index: -1;
  white-space: nowrap;
}

/*=============================================
=            header            =
=============================================*/
header {
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
  width: fit-content;
}
.menu-button div {
  width: 40px;
  height: 5px;
  border-radius: 100px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
}
.menu-button.button-close div {
  background-color: red;
}
.menu-button.button-close div:nth-of-type(1) {
  transform: rotate(45deg) translateY(17px);
}
.menu-button.button-close div:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-17px);
}
.menu-button.button-close div:nth-of-type(2) {
  transform: translateX(-50px);
  opacity: 0;
}
@media (min-width: 75em) {
  .menu-button {
    display: none;
  }
}

.main-navigation {
  background-color: white;
  border: 3px solid #ff6200;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  transform: translate(-110%, 60%);
  padding: 1rem;
  left: 5%;
  transition: transform 0.3s;
}
.main-navigation a {
  color: #07223f;
  text-decoration: none;
  margin-bottom: 1.3rem;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
}
.main-navigation .btn-primary {
  width: 100%;
}
@media (min-width: 75em) {
  .main-navigation .btn-primary {
    width: 13rem;
  }
}
@media (min-width: 75em) {
  .main-navigation {
    position: relative;
    transform: translate(0);
    background: none;
    border: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .main-navigation a {
    color: white;
    font-size: 1rem;
    margin-left: 1.1rem;
    font-weight: 500;
  }
}

.main-navigation.open {
  transform: translate(0, 60%);
}

/*=====  End of header  ======*/
/*=============================================
=            hero section            =
=============================================*/
.hero {
  background-image: url("../../assets/images/Header_Home_Mobile.jpg");
  background-size: 125%;
  background-position: right top;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}
@media (min-width: 75em) {
  .hero {
    background-image: url("../../assets/images/Header_Home_Desktop.jpg");
    background-size: 95%;
  }
}
.hero__content {
  padding-top: 150%;
}
@media (min-width: 75em) {
  .hero__content {
    padding-top: 25%;
    width: 40%;
  }
}
.hero__title {
  font-size: 6.5em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 6rem;
  color: #07223f;
  margin-bottom: 2rem;
}
.hero__title span {
  color: #ff6200;
}
.hero__tagline {
  font-size: 1.2em;
  color: #818181;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}
.hero__button-wrapper {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
}

/*=====  End of hero section  ======*/
.carousel {
  position: relative;
  height: 600px;
}
.carousel__page-dots {
  display: flex;
  justify-content: space-between;
  width: 4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.carousel__dot {
  width: 15px;
  height: 15px;
  border: solid 2px #07223f;
  border-radius: 100px;
}
.carousel__dot.selected {
  background-color: #ff6200;
}
.carousel__item {
  background-color: #07223f;
  color: white;
  padding: 2rem;
  position: absolute;
  width: 90%;
  max-width: 50rem;
  min-width: 38rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}

.card__title {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.card__title span {
  color: #ff6200;
}
.card__slug {
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.4em;
}
.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main-point sub-point-1" "main-point sub-point-2";
  place-items: center;
}
.card__main-point {
  border: solid 7px #ff6200;
  border-radius: 200px;
  text-align: center;
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: main-point;
}
.card__main-point h3 {
  font-size: 3em;
  text-transform: uppercase;
  line-height: 2.5rem;
}
.card__sub-point {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__sub-point p {
  max-width: 12ch;
  text-align: center;
  line-height: 1.3rem;
  font-size: 1.2rem;
}
.card__bullet-point {
  border-radius: 500px;
  background-color: pink;
  width: 8rem;
  height: 8rem;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 3rem;
  flex: 1;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.card__bullet-point--orange {
  background-color: #ff6200;
  color: white;
  grid-area: sub-point-1;
}
.card__bullet-point--white {
  background-color: white;
  color: #ff6200;
}

.back-left {
  transform: scale(80%) translateX(-900px);
  opacity: 0.5;
  z-index: -1;
}

.back-right {
  transform: scale(80%) translateX(-50px);
  opacity: 0.5;
  z-index: -1;
}
