@use './vars' as *;

@mixin button {
	padding: 1rem 0;
	width: 13rem;
	background: none;
	border-radius: 12px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	transition: opacity;
	&:hover {
		opacity: 0.7;
	}
}

@mixin button-main {
	@include button;
	background-color: $clr-secondary;
	border: none;
	color: white;
}

@mixin button-alt {
	@include button;
	border: solid 3px $clr-secondary;
	color: $clr-secondary;
}
