@use '../abstracts' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	font-family: $fnt-saria;
	font-weight: 700;
}

.container {
	width: 90%;
	margin: 0 auto;
	@include mq(large) {
		width: 80%;

		max-width: 1400px;
	}
}

.btn-primary {
	@include button-main;
}
.btn-alt {
	@include button-alt;
}

.section-title {
	font-size: 2.3em;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	span {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 2.6em;
		color: $clr-accent;
		z-index: -1;
	}
}
